<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Add Person</title>
	</head>
	<body>
	<h1>Here u can add person to DataBase!</h1><br/>	
		<form method="post">
			<label>First Name </label><input type="text" name="firstName"/><br/>
			<label>Last Name </label><input type="text" name="lastName"/><br/>
			<label>Age </label><input type="text" name="age"/><br/>
			<label>Profession </label><input type="text" name="profession"/><br/>
			<input type="submit" value="save Person!"/>
		</form>
	</body>
</html>